.chat-main
  .chat-main__top
    .chat-main__top__left
      %h2.chat-main__top__left__group
        = @group.name
      %ul.chat-main__top__left__group__list
        Member : 
        - @group.users.each do |user|
          -# %li.chat-main__top__left__group__list__men
          = user.name
    .chat-main__top__right
      = link_to "/groups/#{@group.id}/edit", method: :get do
        Edit
  .chat-main__center
    = render @messages
  .chat-main__bottom
    .input-box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: "input-box__text", placeholder: "type a message" 
        = f.label :image, class: "input-box__image" do
          = fa_icon 'image'
          = f.file_field :image, class: "input-box__image__file"
        = f.submit 'Send', class: "submit-btn"
          